@{
    ViewData["Title"] = "Cart";
}

@{
    // TODO #6 unsigned in users can create cart but can't checkout
    //TODO #4 remove items from cart
    //TODO #7 simulate checkout process
    //TODO #8 show quantities of products and eliminate duplication of names
}

<div class="container">
    <form asp-action="RemoveItemFromCart" method="post">

        <span>@ViewBag.Msg</span>
        <ul style="list-style-type:none;">
            @{
                CustomerOrder cart = ViewBag.Cart;

                if (cart != null && cart.OrderProducts.Count > 0)
                {
                    string dispSubtotal = "$" + cart.SubOrderTotal;
                    string dispTaxTotal = "$" + cart.TaxTotal;
                    string dispTotal = "$" + cart.OrderTotal;

                    if (cart.OrderProducts.Count > 0)
                    {
                        foreach (Product p in cart.OrderProducts)
                        {
                            string dispInfo = p.ProductName + " $" + p.Price;
                            <div class="checkbox">
                                <li>
                                    <input type="checkbox" id="markedItem" name="markedItem" value="@p.Id" />
                                    @dispInfo
                                </li>
                            </div>
                        }
                    }

                    <hr />
                    <li><b>Subtotal: </b>@dispSubtotal</li>
                    <li><b>Tax: </b>@dispTaxTotal</li>
                    <li><b>Order Total: </b>@dispTotal</li>
                }
                else
                {
                    <span>No items in cart!</span>
                }

            }
        </ul>
        <input type="submit" id="RemoveItems" name="RemoveItems" value="Remove Item/s" class="btn-outline-primary" />
    </form>
    <form asp-action="Checkout" method="post">
        <input type="submit" id="Checkout" name="Checkout" value="Checkout" class="btn-primary" />
    </form>
</div>